.object {
    background-color: white;
    padding: 3rem;
    margin: 1rem;
    width: 15rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.1rem 1.4rem 0.1rem rgba(0,0,0,0.05);
    overflow: hidden;
    -moz-transition: height 1s ease;
    -webkit-transition: height 1s ease;
    -o-transition: height 1s ease;
    transition: height 1s ease;
}


.buyArea {
    margin: 1rem;
    overflow: hidden;
    opacity: 0;
    animation: slideDown 1s cubic-bezier(0.19, 1, 0.30, 1) 0.1s forwards;
}

.buyArea form {
    margin: 0;
}
